<div class="overlay" id="overlay">
    <div class="popup p-5" id="popup">
        <h3 id="alertTitle" class=" mt-0 mb-15">Alert</h3>
        <p id="alertMsg" class="my-5"></p>
        <button class="mb-0 btn-primary" onclick="closePopup()">OK</button>
    </div>
</div>