<div class="overlay" id='overlay'>
    <div class="popup p-5" id="popup">
        <h3 id="alertTitle" class=" mt-0 mb-15">Alert</h3>
        <p id="alertMsg" class="my-5" style="font-size: 17px;"></p>
        <div class="d-md-flex w-100 text-center">
            <div class="w-100"><input class="mb-0 btn btn-danger px-5 py-2" type='button' value='NO' id='btnNo' /></div>
            <div class="w-100"><input class="mb-0 btn btn-outline-danger px-5 py-2" type='button' value='YES' id='btnYes' /></div>
        </div>
    </div>
</div>